@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-weight: lighter;
}

html, body, #root {
  height: 100%;
}

body {
  background: #f5f5f5;
  margin: 0;
  color: #1b1b1b;
  font-family: 'Roboto', sans-serif;
  background-color: #D4E0F0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  min-height: 100%;
  justify-content: space-between;

  section#content {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;

    header,
    main {
      padding: 0 2em 5rem 2em;
      margin-bottom: 3rem;
    }

    header {
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      gap: 2em;


      > div {
        display: flex;
        justify-content: space-between;

        &:first-child {
          padding-bottom: 1.5em;
          box-shadow: 0 4px 2px -2px #f5f5f5;
        }
      }
    
      h1 {
        padding: 0;
        margin: 0;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 600;
      }

    }

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.artist {
  display: flex;
  flex-direction: row;
  width: 600px;
  color:black;
}

.artistSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  gap: 60px;
}

.artist-image {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-top: -1.2rem;
  height: 250px;
  width: 250px;
  background-color: FFEBAE;
}

.artist-image > img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.artist-details {
  background: #FFEBAE;
  margin-top: -20px;
  margin-bottom: 3rem;
  border-radius: 0 24px;
  padding: 0 1.3rem;
  text-align: left;
}

.artist h2 {
  margin: 0 0 1.2rem 0;
  font-weight: 600;
  font-size: 1.4rem;
}

.bold-label {
  font-weight: 600;
}

.artist p {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 1.7;
}

